body {
	background-color: rgb(44, 44, 44);
}

.title {
	font-family: cursive;
}

/* Film CSS */
.film {
	padding-bottom: 5%;
	display: flex;
}

.film > div {
	padding: 2% 0% 0% 0.5%;
}

.film .film-img {
	width : 350px;
	height: 400px;
	max-width: 100%;
	padding: 2% 0% 0% 4%;
}

.film .film-title {
	width : 360px;
	height: 120px;
	max-width: 100%;
	padding-top: 2%;
	padding-left: 1%;
	vertical-align: top;
	margin: 0 auto;
}

.film .film-video {
	width : 645px;
	height: 400px;
	padding: 2% 0% 0% 4%;
}

.film .side {
	flex: 30%;
}

.film .side .reco {
	display: flex;
}

#global {
	pointer-events: none;
}

.film .side p {
	padding: 3% 4% 0% 5%;
	color: white;
}

.film .side h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 3% 4% 0% 5%;
	color: #b89558;
}

.film .side h2 {
	font-family: Arial, Helvetica, sans-serif;
	padding: 3% 4% 0% 5%;
	color: #f59300
}

.film .side h3 {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0% 4% 0% 5%;
	color: #d41f26
}

.film .side .film-star {
	display: flex;
	width : 25px;
	height: 25px;
	right: 18%;
	padding: 1% 0% 0% 1%;
	cursor: pointer;
}

.film .side .film-star:hover {
	content: url('../img/film/star.png');
}

/* Poster  */
.poster {
	padding-left: 4%;
}

.poster .poster-img {
	width : 250px;
	height: 300px;
	max-width: 100%;
	padding: 0.5% 0.5% 0.5% 0.5%;
	transition: transform .1s;
	backface-visibility: hidden;
}

.poster .poster-img:hover {
	-ms-transform: scale(1.3) translate(10px);
	-webkit-transform: scale(1.3) translate(10px);
	transform: scale(1.3) translate(10px);
	cursor: pointer;
}